:root {
    --s-primary: #ef4a23;
    --s-primary-dark: #D51E0B;
    --s-secondary: #3749bb;
    --s-tertiary: #838383;
    --s-hf-bg: #081621;
    --s-b-bg: #f2f4f8;
    --s-m-bg: #6E2594;
    --s-s-bg: rgba(55, 73, 187, .05);
    --s-f-c1: #666666;
    --s-f-c2: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;  /* I didn't find the star tech font-family in google fonts */
}

body{
    background: #F9FAFC;
}

ol,ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.container{
    width: 1320px;
    margin: 0 auto;
}


/* ############################# navbar start here ############################### */
/* ############################# navbar end here ############################### */


/* ############################# banner start here ############################### */
/* ############################# banner end here ############################### */


/* ############################# featured-category start here ############################### */
/* ############################# featured-category end here ############################### */


/* ############################# featured-products start here ############################### */
/* ############################# featured-products end here ############################### */


/* ############################# description start here ############################### */
/* ############################# description end here ############################### */


/* ############################# footer start here ############################### */
/* ############################# footer end here ############################### */