:root {
    --s-primary: #ef4a23;
    --s-primary-dark: #D51E0B;
    --s-secondary: #3749bb;
    --s-tertiary: #838383;
    --s-hf-bg: #081621;
    --s-b-bg: #f2f4f8;
    --s-m-bg: #6E2594;
    --s-s-bg: rgba(55, 73, 187, .05);
    --s-f-c1: #666666;
    --s-f-c2: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;  /* I didn't find the star tech font-family in google fonts */
}

body{
    background: #F9FAFC;
}

ol,ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.container{
    width: 1320px;
    margin: 0 auto;
}


/* ############################# navbar start here ############################### */
#navbar{
    padding: 15px 0;
    background: var(--s-hf-bg);
}

.nav-wrapper{
    display: grid;
    grid-template-columns: 5fr 4fr;
    justify-content: start;
    column-gap: 32px;
}

.nav-wrapper .logo-search{
    display: flex;
    align-items: center;
    column-gap: 45px;
}

.nav-wrapper .logo-search img{
    cursor: pointer;
}

.nav-wrapper .logo-search form{
    position: relative;
}

.nav-wrapper .logo-search form input{
    width: 580px;
    border: 0;
    font-size: 15px;
    height: 42px;
    padding: 5px 15px;
    border-radius: 4px;
    outline: none;
}

.nav-wrapper .logo-search form i{
    position: absolute;
    top: 14px;
    right: 7px;
    height: 24px;
    width: 24px;
}

.nav-wrapper .menu-btn{
    display: flex;
    align-items: center;
    column-gap: 20px;
    justify-content: space-between;
}

.nav-wrapper .menu-btn .menu{
    position: relative;
    padding-left: 32px;
}

.nav-wrapper .menu-btn .menu i{
    color: var(--s-primary);
    position: absolute;
    top: 13px;
    left: 0;
}

.nav-wrapper .menu-btn .menu .heading{
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: var(--s-f-c2);
    text-transform: capitalize;
}

.nav-wrapper .menu-btn .menu .convention{
    font-size: 11px;
    line-height: 16px;
    white-space: nowrap;
    margin: 0;
    color: var(--s-tertiary);
}

.nav-wrapper .menu-btn .menu .convention span:hover{
    color: var(--s-primary);
}

.nav-wrapper .menu-btn .btn a{
    background: linear-gradient(45deg, #00237e, #3749bb, #0bc1e9, #3749bb, #00237e);
    border: 0;
    white-space: nowrap;
    display: inline-block;
    color: var(--s-f-c2);
    padding: 15px 20px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    text-align: center;
}

#items{
    background: var(--s-f-c2);
    height: 50px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

#items{
    position: sticky;
    top: 0;
    z-index: 999;
}

.items-wrapper .items{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items-wrapper .items p{
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.items-wrapper .items p:hover{
    color: var(--s-primary-dark);
}
/* ############################# navbar end here ############################### */


/* ############################# banner start here ############################### */
.banner-wrapper{
    background: #f2f4f8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 30px;
    margin-bottom: 50px;
}

.banner-wrapper .big-banner{
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.03);
}

.banner-wrapper .offer-form .comparison-form{
    max-width: 300px;
    background: #FFE8A1;
    margin-bottom: 30px;
    padding: 25px 30px;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.03);
}

.banner-wrapper .offer-form .offer{
    max-width: 300px;
    height: 198px;
    overflow: hidden;
}

.banner-wrapper .offer-form .offer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-wrapper .offer-form .comparison-form .heading h3{
    color: #000;
    text-align: center;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
}

.banner-wrapper .offer-form .comparison-form .heading p{
    color: #666666;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 15px;
}

.banner-wrapper .offer-form .comparison-form form{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.banner-wrapper .offer-form .comparison-form form input{
    width: 100%;
    background: #fff;
    border: 0;
    border-radius: 4px;
    height: 42px;
    padding: 5px 30px 5px 15px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.05);
    text-overflow: ellipsis;
    font-size: 15px;
    outline: none;
}

.banner-wrapper .offer-form .comparison-form form .first{
    position: absolute;
    top: 13px;
    right: 5px;
}

.banner-wrapper .offer-form .comparison-form form .last{
    position: absolute;
    top: 70px;
    right: 5px;
}

.banner-wrapper .offer-form .comparison-form form i{
    color: var(--s-f-c1);
    height: 24px;
    width: 24px;
}

.banner-wrapper .offer-form .comparison-form form button{
    width: 100%;
    height: 42px;
    border: 2px solid #00237e;
    border-radius: 4px;
    background: transparent;
    color: #00237e;
    line-height: 38px;
    font-size: 14px;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    transition: all linear 300ms;
}

.banner-wrapper .offer-form .comparison-form form button:hover{
    background: #00237e;
    color: #fff;
}

/* ############################# banner end here ############################### */


/* ############################### laptop finder start here ############################## */
.laptop-wrapper .items{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.laptop-wrapper .items .item{
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    position: relative;
    padding-left: 90px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}

.laptop-wrapper .items .item i{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    margin-right: 20px;
    background: var(--s-primary);
    margin-left: 20px;
    position: absolute;
    top: 18px;
    left: 0;
}

.laptop-wrapper .items .item h3{
    color: #000;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}

.laptop-wrapper .items .item p{
    color: #444;
    font-size: 15px;
    line-height: 26px;
}

#Laptop .notice{
    text-align: center;
    font-size: 14px;
    color: #444;
}
/* ############################### laptop finder end here ############################## */


/* ############################# featured-category start here ############################### */

#feat-category{
    background: #f2f4f8;
}
#feat-category .feat-heading{
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
}
#feat-category .feat-heading h2{
    font-size: 20px;
    font-weight: 600;
    font-family:"Inter", sans-serif;
    line-height: 26px;
    margin-bottom: 5px;
}
#feat-category .feat-heading p{
    font-size: 15px;
    font-weight: 400;
    font-family:"Inter", sans-serif;
    line-height: 26px;
    color: #01132D;
    margin-bottom: 25px;
}

#feat-category .feat-category-wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10px;
}
#feat-category .feat-category-wrapper .item{
    width: 156px;
    height: 135px;
    padding:15px 0px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    cursor: pointer;
    transition: all linear .3s;
}

#feat-category .feat-category-wrapper .item .img{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
#feat-category .feat-category-wrapper .item p{
    color:#01132D ;
    font-family:"Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    transition: all linear .3s;
}

#feat-category .feat-category-wrapper .item:hover{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   
}
#feat-category .feat-category-wrapper .item:hover p{
    color: #ef4a23;
   
}

#feat-category .box{
    margin-top: 50px;
    width: 100%;
    padding: 37px;
    border-radius: 5px;
    background: linear-gradient(125deg, #0bc1e9, #3749bb, #00237e);
    color: #fff;
}

#feat-category .box .box-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}
#feat-category .box .box-wrapper .left{
    width: 50%;
    display: flex;
    align-items: center;
    column-gap: 20px;
}
#feat-category .box .box-wrapper .left .text h3{
    font-family:"Inter", sans-serif;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 5px;
}
#feat-category .box .box-wrapper .left .text strong{
    font-family:"Inter", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}
#feat-category .box .box-wrapper .left .icon i{
   color: white;
   font-size: 35px;
    
}
#feat-category .box .box-wrapper .right{
    width: 50%;
}

#feat-category .box .box-wrapper .right .right-wrapper:hover{
    box-shadow: 0 60px rgba(0, 0, 0, 0.2) inset;
}
#feat-category .box .box-wrapper .right .right-wrapper{
    display: flex;
    column-gap: 15px;
    align-items: center;
    background: #EF9919;
    padding: 15px 50px;
    border-radius: 50px;
    font-size: 15px;
    line-height: 20px;
    height: auto;
    border: none;
    width: fit-content;
    margin-left: auto;
    color: #000;
    transition: all linear .3s;
  
}

#feat-category .box .box-wrapper .right .right-wrapper .text2{
    display: flex;
}


/* ############################# featured-category end here ############################### */


/* ############################# featured-products start here ############################### */
#feat-product{
    background: #f2f4f8;
    padding-top: 60px;
}
#feat-product .feat-heading{
    text-align: center;
    margin: 0 auto;
  
}
#feat-product .feat-heading h2{
    font-size: 20px;
    font-weight: 600;
    font-family:"Inter", sans-serif;
    line-height: 26px;
    margin-bottom: 5px;
}
#feat-product .feat-heading p{
    font-size: 15px;
    font-weight: 400;
    font-family:"Inter", sans-serif;
    line-height: 26px;
    color: #01132D;
    margin-bottom: 25px;
}
#feat-product .feat-product-wrapper{
    display: flex;
    flex-wrap: wrap;
}
#feat-product .feat-product-wrapper .item{
    max-width: 20%;
    padding: 0 5px 10px;
    margin-bottom: 0;
    display: flex;
    position: relative;

}
#feat-product .feat-product-wrapper .item .item-inner{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: all linear .1s;
}
#feat-product .feat-product-wrapper .item .top{
    position: relative;
    margin-bottom: 2px;
    background: #fff;
    text-align: center;
    padding: 25px 0;
    
}
#feat-product .feat-product-wrapper .item .top img{
    height: auto;
    z-index: 999;
    cursor: pointer;
}
#feat-product .feat-product-wrapper .p-item{
    background: #6e2594;
    width: auto;
    color: #fff;
    font-size: 12px;
    font-family: "Inter",sans-serif;
    padding: 3px 10px;
    line-height: 14px;
    margin-bottom: 2px;
    border-radius: 0 20px 20px 0;
    position: absolute;
    top: 17px;
    left: 0;
    z-index: 1;
}

#feat-product .feat-product-wrapper .item .bottom{
    width: 255px;
    background: #fff;
    padding: 15px 0px 15px 15px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
#feat-product .feat-product-wrapper .item .bottom .p-text{
    height: 60px;
    overflow: hidden;
}
#feat-product .feat-product-wrapper .item .bottom .p-text a{
    font-family: "Inter",sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000;
    transition: all linear .1s;
}
#feat-product .feat-product-wrapper .item .bottom .p-price{
    display: flex;
    align-items: center;
    text-align: left;
    gap: 10px;
}

#feat-product .feat-product-wrapper .item .bottom .p-price .p-new{
    font-family: "Inter",sans-serif;
    line-height: 22px;
    font-size: 17px;
    font-weight: 600;
    color: #d51e0b;
}
#feat-product .feat-product-wrapper .item .bottom .p-price .p-old{
    font-size: 12px;
    font-weight: 600;
    font-family: "Inter",sans-serif;
    text-decoration: line-through;
    color:#666666;
    padding-left: 5px;
}

#feat-product .feat-product-wrapper .item .top img:hover{
    opacity: .9;
}

#feat-product .feat-product-wrapper .item .bottom a:hover{
    color: #ef4a23;
    text-decoration: underline;
}

#feat-product .feat-product-wrapper .item .item-inner:hover{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

/* ############################# featured-products end here ############################### */


/* ############################# description start here ############################### */
/* ############################# description end here ############################### */


/* ############################# footer start here ############################### */
#footer{
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 30px;
    color: #fff;
    background: var(--s-hf-bg);
}

.footer-wrapper{
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;
    justify-content: start;
    column-gap: 50px;
}

.footer-wrapper .support h2{
    color: var(--s-f-c2);
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 20px;
}

.footer-wrapper .support .item{
    max-width: 290px;
    display: flex;
    column-gap: 12px;
    align-items: center;
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 15px;
    border: 1px solid #444;
    border-radius: 40px;
    margin-bottom: 20px;
    cursor: pointer;
}

.footer-wrapper .support .item:hover{
    border: 1px solid var(--s-primary-dark);
}

.footer-wrapper .support .item i{
    font-size: 24px;
}

.fa-location-dot{
    margin-right: 6px;
}

.footer-wrapper .support .item p{
    font-size: 12px;
    line-height: 16px;
    color: var(--s-tertiary);
    margin-left: 6px;
}

.footer-wrapper .support .item strong{
    color: var(--s-primary);
    font-size: 20px;
    line-height: 28px;
    font-weight: normal;
    margin-left: 6px;
}

.footer-wrapper .support .item .hr-line{
    width: 1px;
    height: 40px;
    background: var(--s-f-c1);
}

.footer-wrapper .about-us h2{
    color: var(--s-f-c2);
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 20px;
}

.footer-wrapper .about-us .links{
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: start;
    column-gap: 50px;
}

.footer-wrapper .about-us .links ul li a{
    display: inline-block;
    color: var(--s-tertiary);
    font-size: 14px;
    white-space: nowrap;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.footer-wrapper .about-us .links ul li a:hover{
    text-decoration: underline;
    color: var(--s-primary-dark);
}

.footer-wrapper .about-us .links ul:last-child{
    margin-left: 50px;
}

.footer-wrapper .stay-connected{
    justify-self: end;
}

.footer-wrapper .stay-connected h2{
    color: var(--s-f-c2);
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 20px;
}

.footer-wrapper .stay-connected h3{
    color: var(--s-f-c2);
    font-weight: normal;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 26px
}

.footer-wrapper .stay-connected p{
    max-width: 267px;
    color: var(--s-tertiary);
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 26px;
}

.footer-wrapper .stay-connected span{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--s-tertiary);
    font-size: 14px;
}

.footer-wrapper .stay-connected a{
    font-size: 14px;
    color: var(--s-primary-dark);
}

.footer-wrapper .stay-connected a:hover{
    text-decoration: underline;
}

#footer .line{
    height: 1px;
    background: var(--s-tertiary);
    margin-top: 30px;
    margin-bottom: 10px;
}

#footer .media-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer .media-links .store{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
}

#footer .media-links .store p{
    color: var(--s-tertiary);
    font-size: 12px;
    line-height: 1.15;
}

#footer .media-links .store img{
    border: 1px solid var(--s-tertiary);
    border-radius: 5px;
    padding: 3px;
}

#footer .media-links .store img:hover{
    border: 1px solid #fff;
}

#footer .media-links .media i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer;
}

#footer .media-links .media i:hover{
    background: var(--s-secondary);
}

#footer .line-2{
    height: 1px;
    background: var(--s-tertiary);
    margin-top: 10px;
    margin-bottom: 25px;
}

#footer .copyright p{
    color: var(--s-tertiary);
    font-size: 12px;
    line-height: 1.15;
}
/* ############################# footer end here ############################### */